---
import { beatstarsLinks } from "../config/links";
---

<section id="beatstars" class="mt-16 scroll-mt-36">
  <div class="mx-auto max-w-4xl overflow-hidden rounded-3xl border border-fuchsia-500/50 bg-black p-1 shadow-xl shadow-fuchsia-900/30">
    <iframe
      src={beatstarsLinks.player}
      width="100%"
      height="300" 
      title="Mr. Bonzo Beatstars Player"
      style="border:none; border-radius: 20px;"
      loading="lazy"
    >
      -- none --
    </iframe>
  </div>
</section>