---
import { beatstarsLinks } from "../config/links";

const playerUrl = "https://www.beatstars.com/player/?storeId=133234";
---

<section id="player" class="px-2 sm:px-4 mt-12" style="scroll-margin-top: 120px;">
  <div class="relative mx-auto max-w-[98%] lg:max-w-7xl">
    
    <div class="relative overflow-hidden rounded-[1.5rem] border border-white/10 bg-black p-0.5 shadow-2xl">
      <iframe
        src={playerUrl}
        width="100%"
        title="Mr. Bonzo Beatstars Player"
        /* Το 200px δίνει ακόμα περισσότερο αέρα για να φαίνεται ολόκληρος ο player */
        style="height: calc(100dvh - 200px); min-height: 500px; border:none; border-radius: 20px;"
        loading="lazy"
        class="bg-black w-full"
        allow="autoplay"
      >
        -- Your browser does not support iframes --
      </iframe>
    </div>
  </div>

  <p class="mt-4 text-center text-[8px] tracking-[0.2em] text-white/10 uppercase font-medium">
    Secure Checkout • Powered by Beatstars
  </p>
</section>